/* Nombre: Juan José Arenas Gaviria
Clan: Dell
Fecha: 03/04/2024 */

:root{
    --verde_bosque: #1A5126;
    --verde_claro:#8FBF5F;
    --azul_claro: #5CB3FF;
    --beige: #F3E9DC;
    --marron_tierra:#B18F6A;
    --blanco:#FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;
}
h1{
    text-align: left;
}
.header{
    width: 100%;
    height: 70px;
    background-color: var(--verde_bosque);
    color: var(--blanco);
    display: flex;
    align-items: center;
}

.header a{
    color: var(--blanco);
    text-decoration: none;
    padding: 10px;
}

h1{
    position: absolute;
    left:10px ;
}

nav{
    width: 30%;
    position: absolute;
    right: 8px;
}

body{
    background-color: var(--beige);
}

.cont{
    width: 100%;
    height: 300px;
}
.img1{
    background-image: url(/Recursos/img/imagen1.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    color: white;
}

.msj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
    gap: 30px;
    width: 55%;
    text-align: center;
   position: absolute;
   left: 380px;

}